# Project Configuration
COMPOSE_PROJECT_NAME=prod_abc
APP_NAME=abc
ENV=prod

# Host Configuration
REDIS_PORT=6379

# Resource Limits
MEMORY_LIMIT=512M
REDIS_MAXMEMORY=400mb

# Redis Configuration
REDIS_VERSION=7.2-alpine
REDIS_PASSWORD=123456
